In [2]:
import pyspark

In [22]:
from pyspark.sql.functions import when, col

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [5]:
spark

# Join two CSV Dataset with Join Fuction

In [6]:
csv1 = spark.read.csv('csv1.csv',header=True,inferSchema=True)

In [7]:
csv1.show()

+---+--------+
| id|    name|
+---+--------+
|  1|  Prtaik|
|  2| Harshad|
|  3| Saurabh|
|  4|Kaustubh|
|  5| shaoaib|
+---+--------+

In [8]:
csv2 = spark.read.csv('csv2.csv',header=True,inferSchema=True)

In [9]:
csv2.show()

+---+----------+
| id| dept_name|
+---+----------+
|  1|        HR|
|  2|   Medical|
|  3|   Finance|
|  4|  Security|
|  5|Automobile|
+---+----------+

In [10]:
join_csv = csv1.join(csv2, on='id', how='inner').select('id','dept_name')
    ## It joins two CSV files together
        # to acheive this result, column in both csv table should be same i.e. 'id' column

In [11]:
join_csv.show()

+---+----------+
| id| dept_name|
+---+----------+
|  1|        HR|
|  2|   Medical|
|  3|   Finance|
|  4|  Security|
|  5|Automobile|
+---+----------+

In [12]:
csv1.orderBy(csv1.id.desc()).show()
    ## To order by desc by id column

+---+--------+
| id|    name|
+---+--------+
|  5| shaoaib|
|  4|Kaustubh|
|  3| Saurabh|
|  2| Harshad|
|  1|  Prtaik|
+---+--------+

In [13]:
csv1.orderBy(csv1.id.asc()).show()
    ## To order by asc by id column

+---+--------+
| id|    name|
+---+--------+
|  1|  Prtaik|
|  2| Harshad|
|  3| Saurabh|
|  4|Kaustubh|
|  5| shaoaib|
+---+--------+

In [14]:
csv1.show()

+---+--------+
| id|    name|
+---+--------+
|  1|  Prtaik|
|  2| Harshad|
|  3| Saurabh|
|  4|Kaustubh|
|  5| shaoaib|
+---+--------+

In [23]:
csv1_updated =csv1.withColumn('name', when(col('id') == 5, 'Shoaib').otherwise(col('name')))
 # Suppose I want to update row no 5 whose id is 5 then above query will use.
 # Here I want to update Name 'shaoaib' to 'Shoaib'

In [24]:
csv1_updated.show()

+---+--------+
| id|    name|
+---+--------+
|  1|  Prtaik|
|  2| Harshad|
|  3| Saurabh|
|  4|Kaustubh|
|  5|  Shoaib|
+---+--------+