In [1]:
import pyspark

In [27]:
import pandas as pd
pd.read_csv('spark1.csv')

      Name  Age
0  Harshad   23
1  Saurabh   23
2    Omkar   25
3  Shubham   24
4   Pratik   25

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [7]:
spark

In [8]:
df_pyspark=spark.read.csv('spark1.csv')

In [10]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [12]:
df_pyspark.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|   Name|Age|
|Harshad| 23|
|Saurabh| 23|
|  Omkar| 25|
|Shubham| 24|
| Pratik| 25|
+-------+---+

In [15]:
spark.read.option('header','true').csv('spark1.csv').show()

+-------+---+
|   Name|Age|
+-------+---+
|Harshad| 23|
|Saurabh| 23|
|  Omkar| 25|
|Shubham| 24|
| Pratik| 25|
+-------+---+

In [17]:
spark.read.option('header','true').csv('spark1.csv').show()

+-------+---+
|   Name|Age|
+-------+---+
|Harshad| 23|
|Saurabh| 23|
|  Omkar| 25|
|Shubham| 24|
| Pratik| 25|
+-------+---+

In [16]:
spark

In [18]:
df_pyspark.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|   Name|Age|
|Harshad| 23|
|Saurabh| 23|
|  Omkar| 25|
|Shubham| 24|
| Pratik| 25|
+-------+---+

In [19]:
spark.read.option('header','true').csv('spark1.csv').show()

+-------+---+
|   Name|Age|
+-------+---+
|Harshad| 23|
|Saurabh| 23|
|  Omkar| 25|
|Shubham| 24|
| Pratik| 25|
+-------+---+

In [20]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [23]:
df_pyspark.head(2)

[Row(_c0='Name', _c1='Age'), Row(_c0='Harshad', _c1='23')]

In [24]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)