In [12]:
from pyspark.sql import *

In [13]:
from pyspark.sql import SQLContext

In [14]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [15]:
spark

In [16]:
df = spark.read.csv('test4.csv',header = True, inferSchema=True)

In [17]:
df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [18]:
new_df = df.orderBy("salary")

In [19]:
new_df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Sunny|    Big Data|  2000|
|   Mahesh|Data Science|  3000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|    Krish|         IOT|  5000|
|Sudhanshu|    Big Data|  5000|
|    Krish|Data Science| 10000|
|Sudhanshu|         IOT| 10000|
|    Sunny|Data Science| 10000|
|Sudhanshu|Data Science| 20000|
+---------+------------+------+

In [20]:
new_df1 = df.sort("Name")

In [21]:
new_df1.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|    Krish|    Big Data|  4000|
|   Mahesh|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [22]:
df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [23]:
df.createOrReplaceTempView('MyData')

In [27]:
result = spark.sql('select * from MyData')

In [28]:
result.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [34]:
spark.sql('select Departments, count(*) as count_of_departments from MyData group by Departments').show()

+------------+--------------------+
| Departments|count_of_departments|
+------------+--------------------+
|         IOT|                   2|
|    Big Data|                   4|
|Data Science|                   4|
+------------+--------------------+