In [2]:
import pyspark

In [3]:
from pyspark.sql import *

In [4]:
spark = SparkSession.builder.appName('test').getOrCreate()

In [5]:
df = spark.read.csv('C:/Users/PRATJADH/Downloads/effects-of-covid-19-on-trade-at-15-december-2021-provisional.csv', header = True, inferSchema=True)

In [6]:
df.show()

+---------+----+----------+---------+-------+---------+--------------+-------+---------+----------+
|Direction|Year|      Date|  Weekday|Country|Commodity|Transport_Mode|Measure|    Value|Cumulative|
+---------+----+----------+---------+-------+---------+--------------+-------+---------+----------+
|  Exports|2015|01/01/2015| Thursday|    All|      All|           All|      $|104000000| 104000000|
|  Exports|2015|02/01/2015|   Friday|    All|      All|           All|      $| 96000000| 200000000|
|  Exports|2015|03/01/2015| Saturday|    All|      All|           All|      $| 61000000| 262000000|
|  Exports|2015|04/01/2015|   Sunday|    All|      All|           All|      $| 74000000| 336000000|
|  Exports|2015|05/01/2015|   Monday|    All|      All|           All|      $|105000000| 442000000|
|  Exports|2015|06/01/2015|  Tuesday|    All|      All|           All|      $| 76000000| 518000000|
|  Exports|2015|07/01/2015|Wednesday|    All|      All|           All|      $| 59000000| 577000000|
|  Exports|2015|08/01/2015| Thursday|    All|      All|           All|      $|111000000| 688000000|
|  Exports|2015|09/01/2015|   Friday|    All|      All|           All|      $| 98000000| 786000000|
|  Exports|2015|10/01/2015| Saturday|    All|      All|           All|      $| 89000000| 875000000|
|  Exports|2015|11/01/2015|   Sunday|    All|      All|           All|      $|111000000| 986000000|
|  Exports|2015|12/01/2015|   Monday|    All|      All|           All|      $|161000000|1147000000|
|  Exports|2015|13/01/2015|  Tuesday|    All|      All|           All|      $| 96000000|1242000000|
|  Exports|2015|14/01/2015|Wednesday|    All|      All|           All|      $| 83000000|1325000000|
|  Exports|2015|15/01/2015| Thursday|    All|      All|           All|      $|109000000|1434000000|
|  Exports|2015|16/01/2015|   Friday|    All|      All|           All|      $|155000000|1589000000|
|  Exports|2015|17/01/2015| Saturday|    All|      All|           All|      $|168000000|1757000000|
|  Exports|2015|18/01/2015|   Sunday|    All|      All|           All|      $| 90000000|1847000000|
|  Exports|2015|19/01/2015|   Monday|    All|      All|           All|      $|164000000|2011000000|
|  Exports|2015|20/01/2015|  Tuesday|    All|      All|           All|      $|134000000|2145000000|
+---------+----+----------+---------+-------+---------+--------------+-------+---------+----------+
only showing top 20 rows

In [7]:
df.printSchema()

root
 |-- Direction: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Weekday: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Commodity: string (nullable = true)
 |-- Transport_Mode: string (nullable = true)
 |-- Measure: string (nullable = true)
 |-- Value: integer (nullable = true)
 |-- Cumulative: long (nullable = true)

In [8]:
df.show()

+---------+----+----------+---------+-------+---------+--------------+-------+---------+----------+
|Direction|Year|      Date|  Weekday|Country|Commodity|Transport_Mode|Measure|    Value|Cumulative|
+---------+----+----------+---------+-------+---------+--------------+-------+---------+----------+
|  Exports|2015|01/01/2015| Thursday|    All|      All|           All|      $|104000000| 104000000|
|  Exports|2015|02/01/2015|   Friday|    All|      All|           All|      $| 96000000| 200000000|
|  Exports|2015|03/01/2015| Saturday|    All|      All|           All|      $| 61000000| 262000000|
|  Exports|2015|04/01/2015|   Sunday|    All|      All|           All|      $| 74000000| 336000000|
|  Exports|2015|05/01/2015|   Monday|    All|      All|           All|      $|105000000| 442000000|
|  Exports|2015|06/01/2015|  Tuesday|    All|      All|           All|      $| 76000000| 518000000|
|  Exports|2015|07/01/2015|Wednesday|    All|      All|           All|      $| 59000000| 577000000|
|  Exports|2015|08/01/2015| Thursday|    All|      All|           All|      $|111000000| 688000000|
|  Exports|2015|09/01/2015|   Friday|    All|      All|           All|      $| 98000000| 786000000|
|  Exports|2015|10/01/2015| Saturday|    All|      All|           All|      $| 89000000| 875000000|
|  Exports|2015|11/01/2015|   Sunday|    All|      All|           All|      $|111000000| 986000000|
|  Exports|2015|12/01/2015|   Monday|    All|      All|           All|      $|161000000|1147000000|
|  Exports|2015|13/01/2015|  Tuesday|    All|      All|           All|      $| 96000000|1242000000|
|  Exports|2015|14/01/2015|Wednesday|    All|      All|           All|      $| 83000000|1325000000|
|  Exports|2015|15/01/2015| Thursday|    All|      All|           All|      $|109000000|1434000000|
|  Exports|2015|16/01/2015|   Friday|    All|      All|           All|      $|155000000|1589000000|
|  Exports|2015|17/01/2015| Saturday|    All|      All|           All|      $|168000000|1757000000|
|  Exports|2015|18/01/2015|   Sunday|    All|      All|           All|      $| 90000000|1847000000|
|  Exports|2015|19/01/2015|   Monday|    All|      All|           All|      $|164000000|2011000000|
|  Exports|2015|20/01/2015|  Tuesday|    All|      All|           All|      $|134000000|2145000000|
+---------+----+----------+---------+-------+---------+--------------+-------+---------+----------+
only showing top 20 rows

In [9]:
df.select(['Direction', 'weekday', 'value']).show()

+---------+---------+---------+
|Direction|  weekday|    value|
+---------+---------+---------+
|  Exports| Thursday|104000000|
|  Exports|   Friday| 96000000|
|  Exports| Saturday| 61000000|
|  Exports|   Sunday| 74000000|
|  Exports|   Monday|105000000|
|  Exports|  Tuesday| 76000000|
|  Exports|Wednesday| 59000000|
|  Exports| Thursday|111000000|
|  Exports|   Friday| 98000000|
|  Exports| Saturday| 89000000|
|  Exports|   Sunday|111000000|
|  Exports|   Monday|161000000|
|  Exports|  Tuesday| 96000000|
|  Exports|Wednesday| 83000000|
|  Exports| Thursday|109000000|
|  Exports|   Friday|155000000|
|  Exports| Saturday|168000000|
|  Exports|   Sunday| 90000000|
|  Exports|   Monday|164000000|
|  Exports|  Tuesday|134000000|
+---------+---------+---------+
only showing top 20 rows

In [10]:
df.select(['Direction', 'weekday', 'value']).where(df['weekday'] == 'Sunday').show()

+---------+-------+---------+
|Direction|weekday|    value|
+---------+-------+---------+
|  Exports| Sunday| 74000000|
|  Exports| Sunday|111000000|
|  Exports| Sunday| 90000000|
|  Exports| Sunday|119000000|
|  Exports| Sunday|123000000|
|  Exports| Sunday|114000000|
|  Exports| Sunday|111000000|
|  Exports| Sunday|135000000|
|  Exports| Sunday|386000000|
|  Exports| Sunday|112000000|
|  Exports| Sunday|133000000|
|  Exports| Sunday|146000000|
|  Exports| Sunday|140000000|
|  Exports| Sunday|153000000|
|  Exports| Sunday|115000000|
|  Exports| Sunday|146000000|
|  Exports| Sunday|136000000|
|  Exports| Sunday|165000000|
|  Exports| Sunday|157000000|
|  Exports| Sunday|124000000|
+---------+-------+---------+
only showing top 20 rows

In [12]:
df.groupBy('weekday').count().show()

+---------+-----+
|  weekday|count|
+---------+-----+
|Wednesday|15897|
|  Tuesday|15934|
|   Friday|15959|
| Thursday|15919|
| Saturday|15873|
|   Monday|15931|
|   Sunday|15925|
+---------+-----+

In [13]:
df.createOrReplaceTempView('covid')

In [14]:
spark.sql('select * from covid').show()

+---------+----+----------+---------+-------+---------+--------------+-------+---------+----------+
|Direction|Year|      Date|  Weekday|Country|Commodity|Transport_Mode|Measure|    Value|Cumulative|
+---------+----+----------+---------+-------+---------+--------------+-------+---------+----------+
|  Exports|2015|01/01/2015| Thursday|    All|      All|           All|      $|104000000| 104000000|
|  Exports|2015|02/01/2015|   Friday|    All|      All|           All|      $| 96000000| 200000000|
|  Exports|2015|03/01/2015| Saturday|    All|      All|           All|      $| 61000000| 262000000|
|  Exports|2015|04/01/2015|   Sunday|    All|      All|           All|      $| 74000000| 336000000|
|  Exports|2015|05/01/2015|   Monday|    All|      All|           All|      $|105000000| 442000000|
|  Exports|2015|06/01/2015|  Tuesday|    All|      All|           All|      $| 76000000| 518000000|
|  Exports|2015|07/01/2015|Wednesday|    All|      All|           All|      $| 59000000| 577000000|
|  Exports|2015|08/01/2015| Thursday|    All|      All|           All|      $|111000000| 688000000|
|  Exports|2015|09/01/2015|   Friday|    All|      All|           All|      $| 98000000| 786000000|
|  Exports|2015|10/01/2015| Saturday|    All|      All|           All|      $| 89000000| 875000000|
|  Exports|2015|11/01/2015|   Sunday|    All|      All|           All|      $|111000000| 986000000|
|  Exports|2015|12/01/2015|   Monday|    All|      All|           All|      $|161000000|1147000000|
|  Exports|2015|13/01/2015|  Tuesday|    All|      All|           All|      $| 96000000|1242000000|
|  Exports|2015|14/01/2015|Wednesday|    All|      All|           All|      $| 83000000|1325000000|
|  Exports|2015|15/01/2015| Thursday|    All|      All|           All|      $|109000000|1434000000|
|  Exports|2015|16/01/2015|   Friday|    All|      All|           All|      $|155000000|1589000000|
|  Exports|2015|17/01/2015| Saturday|    All|      All|           All|      $|168000000|1757000000|
|  Exports|2015|18/01/2015|   Sunday|    All|      All|           All|      $| 90000000|1847000000|
|  Exports|2015|19/01/2015|   Monday|    All|      All|           All|      $|164000000|2011000000|
|  Exports|2015|20/01/2015|  Tuesday|    All|      All|           All|      $|134000000|2145000000|
+---------+----+----------+---------+-------+---------+--------------+-------+---------+----------+
only showing top 20 rows

In [16]:
spark.sql('select count(*) from covid').show()

+--------+
|count(1)|
+--------+
|  111438|
+--------+

In [17]:
spark.sql('select transport_mode from covid group by transport_mode').show()

+--------------+
|transport_mode|
+--------------+
|           Sea|
|           All|
|           Air|
+--------------+

In [18]:
spark.sql('select commodity from covid group by commodity').show()

+--------------------+
|           commodity|
+--------------------+
|Fish, crustaceans...|
|                 All|
|Electrical machin...|
|               Fruit|
|Mechanical machin...|
|Meat and edible o...|
|Logs, wood, and w...|
|Milk powder, butt...|
|Non-food manufact...|
+--------------------+