In [4]:
import findspark
findspark.init()
findspark.find()

'C:\\Users\\PRATJADH\\AppData\\Local\\Programs\\Python\\Python311\\Lib\\site-packages\\pyspark'

In [5]:
import pyspark

In [6]:
from pyspark.sql import SparkSession

In [7]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [8]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [9]:
spark

In [10]:
data = [(1,"Pratik", 23), (2, "Shubham", 24), (3, "Harshad", 21), (4, "Saurabh", 30), (5, "Kaustubh", 32)]

In [11]:
schema = StructType([
    StructField("ID", IntegerType(), True),
    StructField("Name", StringType(), True),
    StructField("Age", IntegerType(), True)
])

In [12]:
df = spark.createDataFrame(data, schema = schema)

In [13]:
df.show()

+---+--------+---+
| ID|    Name|Age|
+---+--------+---+
|  1|  Pratik| 23|
|  2| Shubham| 24|
|  3| Harshad| 21|
|  4| Saurabh| 30|
|  5|Kaustubh| 32|
+---+--------+---+

In [14]:
df.createOrReplaceTempView('emp')

In [15]:
spark.sql('Select * from emp').show()

+---+--------+---+
| ID|    Name|Age|
+---+--------+---+
|  1|  Pratik| 23|
|  2| Shubham| 24|
|  3| Harshad| 21|
|  4| Saurabh| 30|
|  5|Kaustubh| 32|
+---+--------+---+